<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div>
    <form action="#" th:action="@{/add}" th:object="${user}" method="post">
        <fieldset>
            <p>Name : <input type="text" th:field="*{Name}"></p>
            <p>Surname : <input type="text" th:field="*{Surname}"></p>
            <p>Age : <input type="number" th:field="*{Age}"></p>
            <p>Address : <input type="text" th:field="*{Address}"></p>
            <p><input type="submit" value="Subscribe"></p>
        </fieldset>
    </form>
</div>
</body>
</html>